@import 'variables';
@import 'mixins';
@import 'reboot';
@import 'user_info';
@import 'education';

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

main {
  width: 90%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 20px;
  padding: 0 3% 10px;
  background-color: $white;
}

.red-title {
  color: $primary-color;
}
